.connexion{
    margin-left: auto;
    margin-right: 20px;
    display: flex;    
}

.logo{
    content: url('Logo.png');
}

#postPage{
    display: flex;
    flex-direction: column;
    text-align: center;
}


#createPost {
    display: block;
    text-align: center;
    padding: 10px;
}

.boutons_nav {
    margin-left: 10px;
}

#feed{
    margin-top: 20px;
}
#buttons_for_post{
    display: flex;
    margin-top: 20px;
}

#utils_connected_user{
    text-align: right;
    margin-left: auto;
}

#Logo{
    margin-right: 11%;
}




body.dark-theme{
    background-color: #333;
    color: white;
}
.connexion.dark-theme{
    margin-left: auto;
    margin-right: 20px;
    display: flex; 
    background-color: #333; 
    color: white; 
}

#postPage.dark-theme{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #333;
    color: white;
}


#createPost.dark-theme {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}


#feed.dark-theme{
    margin-top: 20px;
    background-color: #333;
    color: white;
}

body.dark-theme .btn {
    background-color: #444444;
    color: #ffffff;
    border-color: #ffffff;
}

body.dark-theme .btn:hover {
    background-color: #555555;
    color: #ffffff;
}


body.dark-theme .card-body {
    background-color: #444444;
    color: #ffffff;
    border-color: #ffffff;
}

body.dark-theme .logo {
    content: url('Logo_Dark_Mode.png');
}
